@font-face {
  font-family: 'Sharp Grotesk';
  src: url('../assets/fonts/sharp-grotesk/SharpGrotesk-SemiBold10.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white: #fff;
  --gray-200: #d9d9d9;
  --brown-100: #d4bfb2;
  --nude: #e6cabb;

  --green-200: #01baab;
  --green-300: #019176;

  --yellow-100: #ede4cd;
  --yellow-500: #bdad92;

  --orange-50: #fafafa;
  --orange-400: #eda062;

  --red-500: #9c0b18;
  --purple-600: #51142e;

  --easeInOutQuint: cubic-bezier(0.99, -0.01, 0.1, 0.99);
  --main-rotate: 30deg;
  --main-negative-rotate: -30deg;
}

html,
body {
  height: 100%;
  font-family: 'Sora', sans-serif;
}

img {
  max-width: 100%;
}

/* Utilities */
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.relative {
  position: relative;
}

.sharp-grotesk-font {
  font-family: 'Sharp Grotesk', 'times', sans-serif;
}

.font-semibold {
  font-weight: 600;
}

.font-light {
  font-weight: 300;
}

.text-sm {
  font-size: 0.875rem;
}

.hidden {
  display: none;
}

/* End utilities */

.background {
  background-color: var(--bg-color, --white);
  height: 100%;
  transition: background-color 2.2s var(--easeInOutQuint);
}

.background.slide-1 {
  --bg-color: var(--white);
}

.background.slide-2 {
  --bg-color: var(--brown-100);
}

.background.slide-3 {
  --bg-color: var(--yellow-100);
}

.background.slide-4 {
  --bg-color: var(--nude);
}

.background.slide-5 {
  --bg-color: var(--yellow-500);
}

.background.slide-6 {
  --bg-color: var(--orange-400);
}

.container {
  height: 100%;
  max-width: 1728px;
  width: 100%;
  margin: 0 auto;
}

/* Slide - Home */
.slide-home-container {
  justify-content: center;
  padding: 8rem 7rem;
  padding-top: 5rem;
  padding-right: 1.5rem;
}

.slide-home-subtitles {
  align-items: flex-end;
  gap: 9rem;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(-1rem);
  transition: opacity 2.2s var(--easeInOutQuint),
    transform 2s var(--easeInOutQuint);
}

.swiper-slide-active .slide-home-subtitles {
  opacity: 1;
  transform: translateY(0);
}

.slide-home-subtitle {
  font-size: 1.875rem;
  font-weight: 400;
}

.slide-home-subtitle-small {
  font-size: 1rem;
  font-weight: 400;
}

@keyframes appear {
  0% {
    transform: translate3d(0, -100%, 0) scale(0.3);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

.slide-home-content {
  opacity: 0;
  transform: translate3d(0, -21rem, 0) rotate(var(--main-negative-rotate))
    scale(0.3);
  transition: transform 2.2s var(--easeInOutQuint),
    opacity 2s var(--easeInOutQuint);
  animation: appear 2.2s var(--easeInOutQuint);
}

.swiper-slide-active .slide-home-content {
  opacity: 1;
  transform: translate3d(0, 0, 0) rotate(0) scale(1);
}

.slide-home-heading-container {
  gap: 1rem;
  margin-top: 2.75rem;
}

.slide-home-heading-title {
  font-size: 18.75rem;
  font-weight: 600;
  font-family: 'Sharp Grotesk', 'times', sans-serif;
  margin: 0;
  line-height: 0.75;
  text-shadow: 8px 1px rgba(0, 0, 0, 0.2);
  transition: text-shadow 1.5s var(--easeInOutQuint);
}

.swiper-slide-active .slide-home-heading-title {
  text-shadow: none;
}

.slide-home-heading-img-container {
  position: relative;
  width: 12rem;
  height: 12rem;
  border-radius: 1.125rem;
  overflow: hidden;
  transition: transform 600ms var(--easeInOutQuint);
}

.slide-home-heading-img-container.img-2 {
  margin-left: -2rem;
  margin-top: -1.2rem;
}

.slide-home-heading-img-container.img-3 {
  margin-left: -4rem;
  margin-top: 2.8rem;
}

.slide-home-heading-img-container:hover {
  transform: scale(1.35);
  z-index: 10;
}

.slide-home-heading-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-home-button-heading-container {
  gap: 1.75rem;
}

.slide-home-button {
  display: grid;
  place-content: center;

  width: 24.7rem;
  height: 9.5rem;
  margin-top: -2rem;
  margin-left: 1rem;

  outline: 0;
  border: 0;
  border-radius: 5.75rem;
  background: linear-gradient(
    265deg,
    var(--green-300) 6%,
    var(--green-200) 98.34%
  );

  color: var(--orange-50);
  text-transform: uppercase;
  font-size: 1.875rem;

  transition: width 600ms var(--easeInOutQuint),
    height 600ms var(--easeInOutQuint), font-size 600ms var(--easeInOutQuint),
    transform 600ms var(--easeInOutQuint);
  cursor: pointer;
}

.slide-home-button div {
  height: 2.375rem;
  overflow: hidden;

  transition: height 600ms var(--easeInOutQuint);
}

.slide-home-button div span {
  display: block;
  transition: transform 600ms var(--easeInOutQuint);
}

.slide-home-button:hover {
  width: 29.5rem;
  height: 11.4rem;

  font-size: 3.75rem;

  border-radius: 7.52594rem;
  background: linear-gradient(
    265deg,
    var(--red-500) 6%,
    var(--purple-600) 98.34%
  );

  transform: scale3d(1.1, 1.1, 1.1);
}

.slide-home-button:hover div {
  height: 4.75rem;
}

.slide-home-button:hover .slide-home-button-title-1 {
  transform: translate3d(0, -3.75rem, 0);
}

.slide-home-button:hover .slide-home-button-title-2 {
  transform: translate3d(0, -4rem, 0);
}

/* Slide home card FIAP */
@keyframes appearFromBottom {
  0% {
    opacity: 1;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.slide-home-card-fiap {
  gap: 1.5rem;

  position: fixed;
  bottom: 0;
  left: 20%;
  opacity: 0;

  transform: rotate(var(--main-negative-rotate));
  transition: 2.2s var(--easeInOutQuint);
  animation: appearFromBottom 2.2s var(--easeInOutQuint);
}

.swiper-slide-active .slide-home-card-fiap {
  opacity: 1;
  transform: rotate(0);
}

.slide-home-card-fiap-img-container {
  width: 13.75rem;
  height: 13.75rem;
  position: relative;
  bottom: 0;

  border-radius: 0.5rem;
  overflow: hidden;
  transition: 2.2s var(--easeInOutQuint);
}

.swiper-slide-active .slide-home-card-fiap-img-container {
  transform: rotate(40deg);
  bottom: -11rem;
  transition: 600ms var(--easeInOutQuint);
}

.slide-home-card-fiap-img-container:hover {
  transform: rotate(0);
  bottom: 0.9rem;
}

.slide-home-card-fiap-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-home-card-fiap-texts {
  gap: 1.5rem;
  text-transform: uppercase;
  opacity: 1;
  transition: 2.2s var(--easeInOutQuint);
}

.swiper-slide-active .slide-home-card-fiap-texts {
  opacity: 0;
  transform: translate3d(0, 3.5rem, 0);
  transition: 600ms var(--easeInOutQuint);
}

.slide-home-card-fiap-img-container:hover ~ .slide-home-card-fiap-texts {
  opacity: 1;
  transform: translate3d(0, -1rem, 0);
}

.slide-home-card-fiap-texts .font-semibold {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.slide-home-card-fiap-members {
  max-width: 16rem;
  margin-top: 2rem;
  transition: 600ms var(--easeInOutQuint);
}

.slide-home-card-fiap-img-container:hover
  ~ .slide-home-card-fiap-texts
  .slide-home-card-fiap-members {
  margin-top: 0;
}

/* End slide home card fiap */

/* Card slides */
.card-container {
  all: unset;
  cursor: pointer;

  position: absolute;
  top: 50%;
  left: 50%;
  padding-bottom: 1.8rem;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  opacity: 0;
  overflow: hidden;

  transition: transform 2.2s var(--easeInOutQuint),
    padding 2.8s var(--easeInOutQuint), opacity 2.2s var(--easeInOutQuint);
}

.card-container[data-direction='down'] {
  transform: translate3d(-50%, -50%, 0) rotate(var(--main-rotate));
}

.card-container[data-direction='up'] {
  transform: translate3d(-50%, -50%, 0) rotate(var(--main-negative-rotate));
}

.swiper-slide-active .card-container {
  opacity: 1;
  transform: translate3d(-50%, -50%, 0) rotate(0);
}

.card-main-container[data-card-active='true'] .card-container {
  padding-bottom: 0;
}

.card-container::after {
  content: '';
  visibility: hidden;
  display: block;
  position: absolute;
  background-color: var(--white);
  top: 0;
  bottom: 0;
  width: 100px;
  mix-blend-mode: overlay;
  filter: blur(20px);
  transform: translateX(-100px);
  transition: transform 2.8s var(--easeInOutQuint),
    visibility 2.8s var(--easeInOutQuint);
}

.card-main-container[data-card-active='true'] .card-container::after {
  visibility: visible;
  transform: translateX(100vw);
}

.card {
  width: 26.875rem;
  height: 41.8rem;
  transition: 2.8s var(--easeInOutQuint);
}

.card-main-container[data-card-active='true'] .card {
  width: 100vw;
  height: 100vh;
}

.card-container .card::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  transition: 2.8s var(--easeInOutQuint);
}

.card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-legend {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  font-size: 0.9375rem;
  text-transform: uppercase;
  text-align: center;
  transition: 2.8s var(--easeInOutQuint);
}

.card-main-container[data-card-active='true'] .card::after {
  background: rgba(0, 0, 0, 0.6);
}

.card-main-container[data-card-active='true'] .card-legend {
  opacity: 0;
}

.card-main-container[data-card-active='true'] .card-content {
  visibility: visible;
}

.card-content {
  visibility: hidden;
  position: relative;
  z-index: 999;
  padding: 8rem 2.25rem;
  padding-left: 8rem;
  color: var(--white);
  text-transform: uppercase;
  transition: visibility 2.8s var(--easeInOutQuint);
}

.card-header {
  gap: 8.5rem;
  align-items: flex-start;
  justify-content: space-between;
}

.card-header-title-container {
  margin-top: 2.7rem;
  height: 13.5rem;
  overflow: hidden;
}

.card-header-title {
  font-size: 18.75rem;
  font-weight: 600;
  margin: 0;
  line-height: 0.8;
  transform: translate3d(0, 23.5rem, 0);
  transition: transform 2.8s var(--easeInOutQuint),
    opacity 2.8s var(--easeInOutQuint);
}

.card-main-container[data-card-active='true'] .card-header-title {
  transform: translate3d(0, 0, 0);
}

.card-header-close {
  all: unset;
  cursor: pointer;
  font-size: 0.9rem;
  opacity: 0;
  transition: 2.8s var(--easeInOutQuint);
}

.card-main-container[data-card-active='true'] .card-header-close {
  opacity: 1;
}

.card-subtitles {
  display: grid;
  grid-template-columns: repeat(2, 9rem);
  margin-left: auto;
  margin-top: 1rem;
}

.card-subtitle-container {
  overflow: hidden;
  height: 4.4rem;
}

.card-subtitle {
  display: block;
  font-size: 4.4rem;
  font-weight: 600;
  text-align: right;
  transform: translate3d(0, 4.4rem, 0);
  opacity: 0;
  transition: transform 2.8s var(--easeInOutQuint),
    opacity 2.8s var(--easeInOutQuint);
}

.card-main-container[data-card-active='true'] .card-subtitle {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.card-social-medias {
  grid-row-start: 1;
  grid-row-end: 4;
  gap: 1.3rem;
  margin-top: 0.5rem;
  opacity: 0;
  transition: opacity 2.8s var(--easeInOutQuint);
}

.card-main-container[data-card-active='true'] .card-social-medias {
  opacity: 1;
}

.card-social-medias a {
  display: block;
  height: max-content;
  line-height: 0;
  transition: 300ms var(--easeInOutQuint);
}

.card-social-medias a:hover {
  transform: scale(1.5);
}

.card-social-medias img {
  width: 1.5rem;
  height: 1.5rem;
}

.card-description {
  gap: 0.35rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  max-width: 15rem;

  position: absolute;
  bottom: 8.5rem;
  right: 12rem;
}

.card-description .span-container {
  height: 1.2rem;
  overflow: hidden;
}

.card-description .span-container:last-child {
  height: auto;
}

.card-description .span-container span {
  display: block;
  transform: translate3d(0, 1.5rem, 0);
  opacity: 0;
  transition: transform 2.8s var(--easeInOutQuint),
    opacity 2.8s var(--easeInOutQuint);
}

.card-description .span-container:last-child span {
  transform: translate3d(0, 3rem, 0);
}

.card-main-container[data-card-active='true'] .card-description span {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.card-img-details {
  position: absolute;
  left: 15%;
  bottom: -26rem;

  width: 22.6rem;
  height: 32.9rem;
  rotate: 22deg;

  border-radius: 1.375rem;
  overflow: hidden;

  transform: translate3d(0, 100%, 0);
  transition: transform 2.8s var(--easeInOutQuint),
    bottom 800ms var(--easeInOutQuint), rotate 800ms var(--easeInOutQuint),
    width 800ms var(--easeInOutQuint), height 800ms var(--easeInOutQuint);
}

.card-main-container[data-card-active='true'] .card-img-details {
  transform: translate3d(0, 0, 0);
}

.card-img-details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img-details:hover {
  width: 38rem;
  height: 55.3rem;
  rotate: 7deg;
  bottom: -16rem;
}
/* End card slides */
